html {
   --gap: 3vh;
   --btn-size: calc(27vh - var(--gap) * 1.5);
}

body {
   margin: 0;
}

.video-container {
   position: relative;
   height: 100vh;
   overflow: hidden;
}

video {
   height: 100%;
}

.simon {
   margin: auto 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #183837;
   border-radius: 50%;
   height: 54vh;
   width: 54vh;
}

.btn-container {
   /* position: relative; */
   margin: var(--gap);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.grn-btn {
   /* position: relative; */
   /* bottom: 50%; */
   left: var(--gap);
   /* top: var(--gap); */
   width: var(--btn-size);
   height: var(--btn-size);
   background-color: #59c574;
   border-top-left-radius: 100%;
}

.red-btn {
   position: relative;
   left: var(--gap);
   /* top: var(--gap); */
   width: var(--btn-size);
   height: var(--btn-size);
   background-color: #f6724e;
   border-top-right-radius: 100%;
}

.yel-btn {
   position: relative;
   top: var(--gap);
   background-color: #feca64;
   width: var(--btn-size);
   height: var(--btn-size);
   border-bottom-left-radius: 100%;
}

.blu-btn {
   position: relative;
   top: var(--gap);
   left: var(--gap);
   background-color: #1e8dc9;
   width: var(--btn-size);
   height: var(--btn-size);
   border-bottom-right-radius: 100%;
}
